# Exploration File
This project aims to build a semantic search engine using various NLP techniques. The dataset used is a csv file downloaded from kaggle titled "English Premier League - Match Commentary"

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
df = pd.read_csv("D:\\programs\\labs\\semantic-search-epl\\data\\23_24_match_details.csv")
df

        id  ...                                            summary
0    93323  ...  Referee: Peter Bankes. Assistants: Dan Robatha...
1    93336  ...  Referee: Robert Jones. Assistants: Ian Hussin,...
2    93343  ...                                                NaN
3    93344  ...  Referee: Anthony Taylor. Assistants: Gary Besw...
4    93347  ...                                                NaN
..     ...  ...                                                ...
298  93647  ...  Manchester City moved top of the Premier Leagu...
299  93641  ...  Arsenal failed to take advantage of Liverpool’...
300  93650  ...  Andreas Pereira proved the hero with a deadly ...
301  93646  ...  Eberechi Eze dealt a huge blow to Liverpool’s ...
302  93645  ...  Cole Palmer sensationally scored FOUR goals as...

[303 rows x 9 columns]

In [8]:
df.drop(columns=["summary","Stadium","Attendance","Referee", "Date"], inplace=True)
df.dropna(subset=["events"], inplace=True)

df['id'] = range(1,len(df)+1)

df["events"] = df["events"].str.lower()

df

      id  ...                                             events
0      1  ...  hello and welcome to live coverage of the prem...
1      2  ...  hello everyone and welcome to live text covera...
2      3  ...  hello and welcome to the live commentary of th...
3      4  ...  hello and welcome to live coverage of the prem...
4      5  ...  hello and welcome to live coverage of this pre...
..   ...  ...                                                ...
298  287  ...  hello and welcome to live coverage of the prem...
299  288  ...  hello and welcome to our live commentary of th...
300  289  ...  hello, and welcome to live coverage of this fi...
301  290  ...  hello and welcome to our live coverage of the ...
302  291  ...  hello and welcome to our live coverage of the ...

[291 rows x 4 columns]

In [9]:
teams = ["Manchester City", "Liverpool", "Burnley", "Brighton", "Wolves", "Tottenham", "Arsenal", "Fulham", "Aston Villa", "Newcastle United",
         "Manchester United", "Nottingham Forest", "Brentford", "Chelsea", "Crystal Palace", "Luton Town", "Bournemouth", "Everton", "Sheffield United", "West Ham"]

df["Home"] = None
df["Away"] = None

for idx, row in df.iterrows():
    
    intro = row["events"][:150].lower()
    found = []
    
    for team in teams:
        if team.lower() in intro:
            found.append(team)
            
    if len(found)>=2:
        df.loc[idx, "Home"] = found[0]
        df.loc[idx, "Away"] = found[1]

print(df[["Home","Away","events"]])

                  Home  ...                                             events
0      Manchester City  ...  hello and welcome to live coverage of the prem...
1              Arsenal  ...  hello everyone and welcome to live text covera...
2          Bournemouth  ...  hello and welcome to the live commentary of th...
3             Brighton  ...  hello and welcome to live coverage of the prem...
4               Fulham  ...  hello and welcome to live coverage of this pre...
..                 ...  ...                                                ...
298          Liverpool  ...  hello and welcome to live coverage of the prem...
299            Chelsea  ...  hello and welcome to our live commentary of th...
300          Tottenham  ...  hello, and welcome to live coverage of this fi...
301             Wolves  ...  hello and welcome to our live coverage of the ...
302  Manchester United  ...  hello and welcome to our live coverage of the ...

[291 rows x 3 columns]